---
name: Build

on:
  push:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ci-build-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build:
    name: Build `README.md`
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          cache-dependency-path: "go.sum"
          go-version-file: "go.mod"
      - name: Install deps
        run: go mod tidy
      - name: Build
        run: go run .
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Update `README.md`"
          add: "README.md"
